<main class="container">
    {{!-- Content --}}
    <article class="grid">
        <div>

            {{outlet}}

        </div>
    </article>
    {{!-- ./ Content --}}
</main>

{{!-- Footer --}}
<footer class="container-fluid">
    <small>
       <LinkTo @route="strcount"> Tecnologias Web I </LinkTo> | <a href="https://github.com/JoaoCordeir0/" target="_blank" rel="noopener noreferrer">Source code</a> | <LinkTo @route="nomes"> Devs </LinkTo> 
    </small>
</footer>
{{!-- ./ Footer --}}
