{{page-title "Devs"}}

<hgroup>
    <h2>Nomes: João Cordeiro e João Missaci</h2>
    <h2></h2>

    <img src="https://gifs.eco.br/wp-content/uploads/2022/03/gifs-animados-de-obrigado-25.gif" alt="">
</hgroup>
